section {
  background: rgb(6, 30, 45);
}

.text-wrapper {
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
}

.text-wrapper h2{
  font-size: 36px;
  color: #F1F1F1;
}

.text-wrapper h4{
  font-size: 24px;
  color: #2194FF;
  margin: 4px 0 21px;
}

.text-wrapper p {
  font-family: 'Open Sans', sans-serif!important;
  font-weight: 300!important;
  font-size: 16px;
  line-height: 22px;
  color: #F1F1F1;
  width: 253px;
}

.text-wrapper button {
  width: 155px;
  height: 43px;
  border: none;
  background: #2194FF;
  border-radius: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #F1F1F1;
  margin: 36px 0;
}

.text h1 {
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #2194FF;
  padding: 30px 0 40px;
}

.content {
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}

.img-wrapper {
  font-family: 'Russo One', sans-serif;
  color: #F1F1F1;
  opacity: 0.7;
  text-align: center;
}

.img-wrapper h4 {
  font-size: 20px;
  margin: 0 0 13px;
}

.text_one h2, .text_two h2 {
  font-size: 36px;
  line-height: 25px;
}

.title-list {
  font-size: 18px!important;
}

.border-right{
  border: 1px solid rgba(241, 241, 241, 0.3);
  width: 0;
  height: 51px;
  margin: 0 25px;
}

.wrap {
  justify-content: center;
  margin-bottom: 15px;
}

.img-wrapper img {
  width: 642px;
  height: 276px;
  margin-bottom: 20px;
}


