* {
  font-family: 'Open Sans', sans-serif;
}

section{
  background: #222222;
  padding: 20px;
}

.content {
  justify-content: space-between;
}

.images img {
  width: 269px;
  height: 98px;
  transform: translateY(-10px);
}

.border-left{
  border: 1px solid #fff;
  height: 33px;
  width: 0;
  margin: 0 21px 0 24px;
}

.logo-box {
  align-items: center;
}

.logo-box h4 {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: #2194FF;
}

.text-box h2 {
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #F1F1F1;
}

.text-h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration-line: underline;
  color: #2194FF;
  margin: 5px 0;
}

.main-header{
  margin: 20px 0 0;
}
