<section>
  <div class="container">
    <div class="content df">
      <div class="logo-box df">
        <div class="images">
          <img src="./assets/images/logo.png" alt="logo">
        </div>
        <div class="border-left"></div>
        <h4>{{ home }}<br><span>{{ list_home }}</span></h4>
      </div>
      <div class="text-box">
        <h2>{{ phone }}</h2>
        <h4 class="text-h4">{{ question }}</h4>
      </div>
    </div>
  </div>
  <div class="main-header">
    <app-header-main></app-header-main>
  </div>
</section>
