section {
  background: #222222;
}

.slider-wrapper {
  width: 759px;
  height: 400px;
  margin: 47px auto 0;
}


.img-wrapper img {
  width: 300px;
  height: 280px;
  border-radius: 30px;
}
.content_box {
  background: #fff;
  border-radius: 40px;
  padding: 45px;
  border: none;
}

.content_box:hover {
  transition: .3s ease-in-out;
  background: rgb(45, 174, 252);
}

.swiper-3d .swiper-slide-shadow {
  background: #F1F1F1;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

.text-wrapper {
  margin: 0 25px;
}

.text-wrapper h1 {
  text-align: start;
}

.text-wrapper h4{
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #2D2D2D;
}

.text-wrapper p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  color: #2D2D2D;
}

.content_box{
  display: flex;
}
.text-box h1 {
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #F1F1F1;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -40px;
}
